<footer class="section-p1">
    <div class="foot-col">
        <i class="fa-brands fa-ember fa-3x logo"></i>
        <h4>Contact</h4>
        <p><strong>Address: </strong>Canary Wharf, London, UK</p>
        <p><strong>Phone: </strong>+44 7896543216</p>
        <p><strong>Hours: </strong>10:00 - 18:00, Mon - Fri</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <a href="https://www.instagram.com/raghavk_28/"><i class="fa-brands fa-instagram"></i></a>
                <a href="www.linkedin.com/in/raghav-khandelwal-295877289"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Raghav2806"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="foot-col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="foot-col">
        <h4>My Account</h4>
        <a href="/cart">View Cart</a>
        <a href="/orders">My Orders</a>
        <a href="#">Help</a>
    </div>
</footer>
<div class="copyright">
    <%const d = new Date();%>
    <%let year = d.getFullYear();%>
    <p>©<%= year %></p>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const currentPath = window.location.pathname;
      const navbarLinks = document.querySelectorAll('#navbar a');
  
      navbarLinks.forEach(link => {
        const linkPath = link.getAttribute('href');
        if (currentPath === linkPath || currentPath.startsWith(linkPath) && linkPath!=='/') {
          link.classList.add('active');
        } else {
          link.classList.remove('active');
        }
      });
    });

  </script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
