<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ember</title>
  <script src="https://kit.fontawesome.com/2269725102.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section id="header">
      <a href="/ember"><i class="fa-brands fa-ember fa-3x"></i></a>
      <div>
        <ul id="navbar">
          <li><a id="home-link" class="active" href="/ecommerce">Home</a></li>
          <li><a id="shop-link" href="/shop">Shop</a></li>
          <li><a id="about-link" href="/about">About</a></li>
          <li><a id="contact-link" href="/contact">Contact</a></li>
          <li><a href="/logout">Logout <i class="fa-solid fa-power-off fa-xs"></i></a></li>
          <li><a id="cart-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </div>
    </section>