<%- include('partials/header') %>

<section id="page-header" class="shop-header">
  <h2>Payment Canceled</h2>
  <p>Your payment was not successful. Please try again.</p>
</section>

<%- include('partials/footer') %>
